body {
  margin: 0;
  padding: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tasks:not(.edit):hover {
  border-color: blue !important;
  background-color: antiquewhite;
}
.tasks.edit,
.tasks.edit .form-check,
.tasks.edit textarea,
.tasks.edit input {
  border-color: blue !important;
  background-color: cyan;
}

.td {
  max-width: 75ch;
}

/* .delete-task svg:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
.edit-task {

}